[Desktop Entry]
Name=XSitecopy
Comment=Local->Remote website synchronization utility.
TryExec=xsitecopy
Exec=xsitecopy
Icon=gnome-networktool.png
Terminal=0
Type=Application
